/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* - Mobile: 375px
- Desktop: 1440px */


/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    color: #fff;
    text-align: center;
    background-color: hsl(257, 40%, 49%);
    line-height: 1.5;
    font-size: 1rem;
    height: 100vh; 
    overflow: hidden;   
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;    
}

h1, p {
    margin-bottom: 20px;
    word-spacing: 1.5px;
}

.logo {
    text-align: left;
}

.h-logo {
    margin-top: 35px;
    width: 60%;
    padding-left: 25px;
}

.content {
     max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.content-title {
    width: 100%;
}

.huddle-main {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.huddle-text {
    margin: 0 auto;
    padding: 0 20px;
    
}

h1 {
    font-size: 25px;
}

.huddle-text p {
    font-family: 'Open Sans';
    font-weight: 400;
    margin-top: 1rem;
}

.register {
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    padding: 10px 70px;
}

.register:hover {
    color: #fff;
    background-color: hsl(300, 69%, 71%);
    border: none;
}

.links {
    margin: 70px auto 40px auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
    margin-top: 80px;
}

.far {
    font-weight: 400;
    font-size: 2em;
}

.fa-circle-2 {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.fab {
    text-align: center;
    margin: 0 auto;
}


/* MEDIA QUERIES */

@media (min-width: 1440px) {
    body {
        background-image: url(../img/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
        
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .huddle-text {
        padding-left: 20px;
    }

    .huddle-text h1 {
        font-size: 42px;
    }

    .huddle-text p {
        font-size: 18px;
        font-weight: 400;
    }

    .container {
        margin: 75px auto;
    }

    .logo {
        width: 30%;
    }

    .content-title {
        width: 50%;
    }

    .huddle-main {
        width: 100%;
    }

    .huddle-text {
        text-align: left;
        width: 40%;
        padding: 20px;
        margin: 15px 0 142px 15px;
    }

    .register {
        padding: 10px 35px;
        width: 36%;
        border: none;
    }

    .links {
        position: absolute;
        top: 520px;
        right: 200px;
        
    }
}